@font-face {
  font-family: "Raavi";
  src: url("../../fonts/Raavi/Raavi.eot");
  src: url("../../fonts/Raavi/Raavi.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Raavi/Raavi.woff2") format("woff2"),
    url("../../fonts/Raavi/Raavi.woff") format("woff"),
    url("../../fonts/Raavi/Raavi.ttf") format("truetype"),
    url("../../fonts/Raavi/Raavi.svg#Raavi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.nav {
  grid-area: n;
  color: #ffffff;
  background-color: #272727;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.item__button {
  padding-top: 3px;
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  height: 35px;
  width: 160px;
  background-color: #242424;
  border: 1px solid #0e1011;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Raavi", sans-serif;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.item__button:hover {
  border-color: #c9d1d9;
}

.item__button:active {
  background-color: #1f6feb;
  border-color: #1f6feb;
}

.item__button__setting {
  margin-top: 40px;
}
